/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

.container{
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

table{
    border-collapse: collapse;
    width: 400px;
    /* margin-right: 15px; */
    /* border-radius: 10px; */
}
td,th{
    border: 1px solid;
    padding: 20px;
    /* border-radius: 10px; */
}
td:first-child,th:first-child{
    font-weight: bold;
}
.selected{
    background-color: skyblue;
}
th{
    background-color: goldenrod;
}
tbody{
    text-align: center;
    
}